* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #000000;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
}

header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

#hero {
    background-color: #ffffff;
    text-align: center;
    padding: 50px 20px;
}

#app-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 30px 0;
}

.app-card {
    border: 1px solid #ccc;
    padding: 20px;
    width: 250px;
    text-align: center;
    margin: 10px;
}

.app-card img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 15px;
}

ul li a{
    text-decoration: none;
    color: #ffffff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
